iBasic_LinkedInDataExport_10-02-2017/
Complete_LinkedInDataExport_10-02-2017/
itidytext-master/
.DS_Store
Complete_LinkedInDataExport_10-02-2017/ 
other/
/Users/kieranrowe/Google\ Drive/DS/other/tidytext-master
/Users/kieranrowe/Google\ Drive/DS/other/basic\ LI
basicLI/
.other/
DS_accelerator_app.odt
.rhistory
